body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #00314f;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    min-height: 100vh;
    width: 100%;
}

h1 {
    color: white;
    font-size: 3rem;
}
#main-div, #secondary-div{
    border-radius: 5%;
    border: solid 10px rgb(128, 128, 128);
}

#main-div {
width: min(100vw, 450px);
  min-height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px 0;
  background-color: #0c7e7e;
  gap: 15px;
}

#secondary-div {
    display: flex;
    background-color: #348e91;
    width: 600px;
    height: 250px;
    font-size: 25px;
    align-items: center;
}

label {
    font-size: 32px;
}

#text-input {
    width: 70%;
    height: 30px;
    padding: 25px;
    font-size: 30px;
    box-shadow: 0px 0px 25px 0px hsla(169, 100%, 93%, 0.85);
}

#check-btn {
    width: 30%;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 10%;
    border: rgb(128, 128, 128) 3px solid;
}

#check-btn:hover {
    background-color: #919191;
}
#result {
    font-size: 30px;
    overflow-y: auto;
    word-wrap: break-word;
}

.hidden {
    display: none;
}
